@model FootballicaWebApp.Models.Footballer

@{
    ViewData["Title"] = "Delete";
}

<h1>Details</h1>
<div>
    <h4>Football Player Entry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayFor(model => model.Name)</dt>
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>

        <dt>@Html.DisplayFor(model => model.Position)</dt>
        <dt>@Html.DisplayNameFor(model => model.Position)</dt>

        <dt>@Html.DisplayFor(model => model.Team)</dt>
        <dt>@Html.DisplayNameFor(model => model.Team)</dt>

        <dt>@Html.DisplayFor(model => model.Nationalty)</dt>
        <dt>@Html.DisplayNameFor(model => model.Nationalty)</dt>

    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="Index">Back to List</a>
    </form>
</div>

