@model FootballicaWebApp.Models.Footballer
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Football Player Entry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayFor(model => model.Name)</dt>
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>

        <dt>@Html.DisplayFor(model => model.Position)</dt>
        <dt>@Html.DisplayNameFor(model => model.Position)</dt>

        <dt>@Html.DisplayFor(model => model.Team)</dt>
        <dt>@Html.DisplayNameFor(model => model.Team)</dt>

        <dt>@Html.DisplayFor(model => model.Nationalty)</dt>
        <dt>@Html.DisplayNameFor(model => model.Nationalty)</dt>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>